<div class="row text-white bg-dark mb-4" id="masthead">
  <div class="col-md-2 col-12 card-header">
    {{!-- <img src="/assets/img/burgerimg.jpg" class="img-fluid" height="180px"> --}}
  </div>
  <div class="col-md-10 col-12 card-header pt-4">
    <h1>BURGER BAR</h1>
    <h3>Build a burger just how like you it. And eat it too!</h3>
  </div>
</div>

<div class="jumbtron">
  <div class="row mx-2">
    <div class="card border-0 rounded-3 mb-3 mx-4 id="options"">
      <h2 class="card-header text-center">Ready-To-Eat Burgers</h2>
      <div class="card-body">
        <div class="card-text"> 
          {{#each burgers}}
            {{#unless devoured}}
              {{> burgers/burger-block devoured=true}}
            {{/unless}}
          {{/each}}
        </div>
      </div>
    </div>
    <div class="card border-0 rounded-3 mb-3 mx-4 id="options"">
      <h2 class="card-header text-center">Build-A-Burger</h2>
      <div class="card-body">
        <div class="card-text">
          <form class="create-form">
            <div class="form-group">
              <label for="burgerName">Burger Name:</label>
              <input type="text" id="burgerName" name="name">
            </div>
            <div class="form-group">
              <label for="devoured">This order is for:</label><br>
              <input type="radio" name="devoured" value="0"> Dining In<br>
              <input type="radio" name="devoured" value="1"checked> Take Out
            </div>
              <button type="submit">Place Order</button>
          </form>
        </div>
      </div>
    </div>
    <div class="card border-0 rounded-3 mb-3 mx-4 id="options"">
      <h2 class="card-header text-center">Legendary Burger History</h2>
      <div class="card-body">
        <div class="card-text">        
          {{#each burgers}}
            {{#if devoured}}
              {{> burgers/burger-block devoured=false}}
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
    
  </div>
</div>




{{!-- <h1>Burger Bar</h1>

<h2>Build a burger just how like you it. And eat it too!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers I have chowed down!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Build a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burgerName">Burger Name:</label>
    <input type="text" id="burgerName" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">This order is for:</label><br>
    <input type="radio" name="devoured" value="0"> Eat Here<br>
    <input type="radio" name="devoured" value="1"checked> Take Out
  </div>

  <button type="submit">Place Order</button>
</form> --}}